* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(237 237 237);
    color: #544e4e
}

form {
    max-width: 500px;
    margin: 40px auto;
}

.form-wrapper {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 0px grey;
}

.form-wrapper>h1 {
    text-align: center;
    text-transform: uppercase;
    color: #000;
}

.form-input {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
}

.form-input>label {
    color: #000;
    font-weight: bold;
}

.form-input>input {
    padding: 13px;
    margin-top: 5px;
}

.form-button>button {
    padding: 20px;
    border: none;
    width: 100%;
    font-size: 16px;
    background: #5555c7;
    color: white;
}

.form-button>button:hover {
    padding: 20px;
    border: none;
    width: 100%;
    font-size: 16px;
    background: #1f1fd3;
    color: white;
}
.verified{
    text-align: center;
    margin-top: 150px;
}
.verified h1{
    margin: 20px;
}